<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277514089249-r8hqvst3bd57i2996gsqhk69qppt6jsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277514089249-r8hqvst3bd57i2996gsqhk69qppt6jsp</string>
	<key>API_KEY</key>
	<string>AIzaSyBILlmbontUA0nlCmwDvOYs1k5r1yA2lSk</string>
	<key>GCM_SENDER_ID</key>
	<string>277514089249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGoogleSignInDemo</string>
	<key>PROJECT_ID</key>
	<string>test-7fa6f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-7fa6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277514089249:ios:a06603ded6bb96ee938460</string>
</dict>
</plist>